.navigation {
  padding: 10px;
  position: fixed;
  z-index: 100;
  background-color: var(--form-select-bg-color);
  top: 0;
  left: 0;
}

.linkbox {
  margin-right: 20px;
}

.link {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  padding: 14px 20px;
}
.link:hover,
.link:focus {
  background-color: var(--button-bg-color-hover);
  color: white;
  border-radius: 10px;
}
