.styledli {
  width: 290px;
  position: relative;
}

.header {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 8px;
  display: flex;
}

.semitransparent {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: var(--semi-transparent);
}
.semitransparent:not(:last-of-type):after {
  content: "";
  border-right: 1px solid;
  margin: 0 5px;
}

.icon {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.icon:hover,
.icon:focus {
  transform: scale(1.2);
}
