.container {
  width: 500px;
  padding: 50px;
}

.header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 4px;
}

.semitransparent {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: var(--semi-transparent);
}
.semitransparent:not(:last-of-type):after {
  content: "";
  border-right: 1px solid;
  margin: 0 5px;
}

.text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 14px;
}

.semiheader {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 4px;
}

.textbg {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  display: inline-block;
  padding: 7px 14px;
  background-color: var(--form-select-bg-color);
  border-radius: 35px;
  margin-right: 8px;
  margin-top: 8px;
}

.spanbg {
  color: var(--button-bg-color);
  font-weight: 600;
}
